@import '../../shared/variables/base';

$mobile: true !default;

$font-size-h1: 1.375rem !default;
$font-size-h2: 1.25rem !default;
$font-size-h3: 1.125rem !default;
$font-size-h4: 1rem !default;
$font-size-h5: 0.875rem !default;
$font-size-h6: 0.75rem !default;
