<%= content_tag component.tag_name, component.html_options do %>
  <div class="tao-dialog-wrapper">
    <div class="tao-dialog-content">
      <%= yield if block_given? %>
    </div>
    <div class="tao-dialog-buttons">
      <button type="button" class="button button-primary button-confirm"><%= component.confirm_text %></button>
    </div>
  </div>
<% end %>
