
$ui-color: #55BB33 !default;

$white-color: #ffffff !default;
$grey-color: #4a4a4a !default;
$black-color: #000000 !default;
$red-color: #ff7755 !default;
$orange-color: #ffaa00 !default;
$green-color: #55bb33 !default;
$blue-color: #22bbff !default;
$grey-blue-color: #7AA4D4 !default;

$light-grey-color: #666666 !default;
$lighter-grey-color: #9b9b9b !default;
$lightest-grey-color: #cccccc !default;

$grey-bg-color: #f6f6f6 !default;
$green-bg-color: #f5fdf3 !default;
$blue-bg-color: #f5f9ff !default;
$orange-bg-color: #fffcf7 !default;
$red-bg-color: #ffeee6 !default;

$text-color: $grey-color !default;
$link-color: #4499ee !default;
$link-hover-color: #3377cc !default;

$line-color: #dfdfdf !default;
$light-line-color: #eeeeee !default;
$lighter-line-color: #f3f3f3 !default;

$border-color: $line-color !default;
$light-border-color: $light-line-color !default;
$lighter-border-color: $lighter-line-color !default;

$border-radius: 0.25rem !default;
$border-radius-s: 0.125rem !default;
$border-radius-l: 0.3rem !default;

$default-line-height: 1.5 !default;

$font-size: 1rem !default;
$font-size-s: 0.875rem !default;
$font-size-l: 1.125rem !default;
$font-size-xs: 0.75rem !default;

$z-index-float: 100 !default;
$z-index-dialog: 200 !default;
$z-index-popover: 300 !default;
$z-index-tooltip: 400 !default;
