
.tao-sortable {

  [draggable='true'] {
    cursor: move;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }

  .tao-sortable-sorting {
    visibility: hidden !important;
  }
}
