$table-line-color: $light-line-color !default;
$table-row-hover-color: $grey-bg-color !default;
$table-th-padding: 0.75rem 0.625rem !default;
$table-td-padding: 0.75rem 0.625rem !default;
$table-th-height: 2.875rem !default;
$table-td-height: 3.75rem !default;
